/*
CMPSCI111301
2/2/17
*/

#include<stdio.h>
#include<math.h>




int main(int argc, char*argv[])
{
int start; int stop; int step ;int i; 
	if (argc==4)
	{
		sscanf(argv[1],"%d" , &start) ;
		sscanf(argv[2],"%d" , &stop); 
		sscanf(argv[3],"%d" , &step) ; 
		
		if (start<= stop && step >0)
		{	
			for (i=start; i<=stop; i=i+step)
			{
				
				if(i<0)	
				{

				printf("%d %f i \n" , i , sqrt(abs(i)));
			
				}
		    		else 
		   		{
				printf("%d %f\n" , i , sqrt(i));

				}
			}

		}	
		else if (start>= stop && step <0)
		{
				for(i=start; i>=stop; i=i+step)
					{
						if (i<0)
						
						{
						printf("%d %f i \n" , i, sqrt(abs(i)));
						}
						else
						{
						printf(" %d %f \n" , i, sqrt(i));
				
		    				}
					}
		}
			else
			{
		printf("Error invalid numbers within loop. Please Try Again.\n");
			}
					
								
			
	}
					else
					{
		    			printf("Error 3 Numbers were not provided. Please Try Again \n");
					}
	 		
			 	
		
		
	    return 0;
		

}	
